{% extends 'admin/baseAdmin.html.twig' %}


{% block body %}
<br>
<div class="container">
    <center><h1> Liste des Locations</h1></center>
    <br>

    <table class="table table-bordered">
        <thead>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_location</th>
                <th>Heure_location</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td>{{ location.id }}</td>
                <td>{{ location.dateLocation ? location.dateLocation|date('Y-m-d') : '' }}</td>
                <td>{{ location.heureLocation }}</td>
                <td>
                    <a href="{{ path('location_show', {'id': location.id}) }}">Afficher</a>
                    <a href="{{ path('location_edit', {'id': location.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('location_new') }}">Ajouter Location</a>
</div>

{% endblock %}
